<h2> Mi Perfil - Home </h2>

<h3>¡Bienvenido/a, {{first_name}} {{last_name}}! </h3>
<br><br>

<form action="/api/sessions/logout" method="POST">
 
 <div class="contenedorBtn">
    <button type="submit" class="btnnn btn-primary"> Cerrar sesión </button>
</div>

</form>